#dealerSide{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#bigFlex{
    display: flex;
    justify-content: space-between;
}

#buttonFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

