#flexer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.miniflexer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 3px;
}

#gridtable{
    margin-top: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(15, 1fr);
}

#gridtable div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
}